
@{
    ViewData["Title"] = "About";
}
<div class="padding-15px">
    <table>
        <tr><td>Product Name</td><td>&nbsp;:&nbsp;oneHut</td></tr>
        <tr><td>Release Version</td><td>&nbsp;:&nbsp;1.0.0</td></tr>
        <tr><td>Released on</td><td>&nbsp;:&nbsp;01 October 2022</td></tr>
        <tr><td>Contact Mail</td><td>&nbsp;:&nbsp;oneHut.mailbox@gmail.com</td></tr>
        <tr><td>Customer Support </td><td>&nbsp;:&nbsp;+91 9840380319</td></tr>
    </table>
</div>