@using Microsoft.AspNetCore.Hosting;
@{
    ViewData["Title"] = "Feature";
}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
@DateTime.Now.Date
@Environment.CurrentDirectory.ToString()
@*
<i class="fa fa-lock" style="font-size:20px;color:blue;"></i>
<i class="fa fa-lock-open" style="font-size:20px;color:blue;"></i>
<i class="fa-solid fa-lock-open"></i>
<i class="fa-sharp fa-solid fa-lock-open"></i>
<i class="fa fa-check-square-o" style="font-size:24px"></i>
<i style="font-size:24px" class="fa">&#xf096;</i>
<i class="fa fa-square-o" style="font-size:24px"></i>
*@
</body>
</html>
