@model oneHut.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
}
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="./style.css">

</head>

<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="/Home/Login" method="post">
            
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
                    @Html.TextBox("userName", "", new {@class = "login__input",placeholder="User name" })
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
                    @Html.Password("password", "", new {@class = "login__input", placeholder="Password"})

				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
                @if (!string.IsNullOrEmpty(Model.message))
                     {<div class="bar error text-align-center">@Html.Label(Model.message)</div>}
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->