@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="width:100%;float:left; text-align:center">
    <img src="~/Images/blizzhomestayadd.jpeg"  alt="" style="max-width:100%;" title=""/>
    </div>
</div>
